# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Generated output images
*.png

# Generated data & meshes
data/
meshes/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
